<div class="row">
  <div class="col-12">
    <div class="current-integration-header mt-3 pb-3 d-flex justify-content-between border-bottom">
      <div class="d-flex">
        <button mat-icon-button [routerLink]="['']">
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
        <h2 class="ml-2">Integration</h2>
      </div>
      <div>
        <button mat-icon-button title="Activate" (click)="onActivate($event, integration.id)">
          <mat-icon>power</mat-icon>
        </button>
        <button mat-icon-button title="Restart Transaction" (click)="onRefresh($event, integration.id)">
          <mat-icon>sync</mat-icon>
        </button>
        <button mat-icon-button title="Delete" (click)="onDelete($event, integration.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-2">
        <mat-nav-list>
          <a mat-list-item [routerLink]="['messages']" [routerLinkActive]="'active-link'">
            <mat-icon>message</mat-icon>
            <span class="ml-3">Messages</span>
          </a>
          <a mat-list-item [routerLink]="['configuration']" [routerLinkActive]="'active-link'">
            <mat-icon>settings_applications</mat-icon>
            <span class="ml-3">Configuration</span>
          </a>
          <a mat-list-item [routerLink]="['mapping']" [routerLinkActive]="'active-link'">
            <mat-icon>compare</mat-icon>
            <span class="ml-3">Mapping</span>
          </a>
          <a mat-list-item [routerLink]="['code']" [routerLinkActive]="'active-link'">
            <mat-icon>code</mat-icon>
            <span class="ml-3">Custom code</span>
          </a>
        </mat-nav-list>
      </div>
      <div class="col-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
