.search-container,
.home-header {
  display: flex;
}

.home-header {
  justify-content: space-between;
}

.integration-item {
  position: relative;
}

.integration-actions {
  display: none;
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 500;
}

.integration-item:hover .integration-actions {
  display: block;
}
